<H1>Intro to Python</H1>

Here are some extra resources for learning Python:

**Getting Started with Python**:

* https://www.codecademy.com/learn/python
* http://docs.python-guide.org/en/latest/intro/learning/
* https://learnpythonthehardway.org/book/
* https://www.codementor.io/learn-python-online

**Learning Python in Notebooks**:

* http://mbakker7.github.io/exploratory_computing_with_python/

This is handy to always have available for reference:

**Python Reference**:

* https://docs.python.org/3.5/reference/

There are also Python courses in the MDST datacamp!

## 0. Jupyter Notebook

Welcome to Jupyter Notebook! Jupyter lets you develop documents that contain live code, equations, visualizations and narrative text. Uses include: data cleaning and transformation, numerical simulation, statistical modeling, data visualization, machine learning, and much more.

All our cells so far are _markdown_ cells, meaning they just contain text! You can enter edit mode on them by pressing ENTER!

In [ ]:
# Jupyter also has code cells, like this one! You can write and run a single line of code or more
# In python, the '#' symbol creates a comment line
# To run a cell, press CTRL-ENTER or SHIFT-ENTER (also moves down to the next cell)

In [2]:
# Below, we define the variable a to be the number 1
a = 3

Now, the variable we defined is accessible from any other code cell.

In [3]:
a

3

Some basics:

In [4]:
print('Hello World!')

Hello World!

In [5]:
# The notebook will execute every line in a cell, but will only print the last line
a = a + 1
a
a + 1

5

In [6]:
# You can get around this by calling print explicitly
print(a)
print(a + 1)

4
5

# 0. Imports

Python has tons of cool, prewritten libraries that implement code for you! All you have to do is import them

In [7]:
import antigravity

Most libraries won't automatically do anything -- they will just become a module which you can call

In [8]:
import time
time.time()

# be careful not to overwrite the library by creating a new variable of the same name...
# e.g. time = 2 will overwrite the library time and you won't be able to use its functions unless you import it again

1613340688.2439868

You can import individual functions and not have to use the module name...

In [11]:
import random
random.random()

# if you just ran `import random`, you would have to run random.random()

0.35165355711047075

or import all the functions within a library with *

In [12]:
from math import *
sqrt(3)

1.7320508075688772

You can also import your own files... we will see this in the first checkpoint!

## 1. Data Types

### 1.0 Dynamic Typing

Python does not require you to specify the data type when you create it -- it will automatically guess at assigning it

In [16]:
x = 1
type(x)

int

In other languages such as C++, java, etc., defining a variable looks more like:

In [15]:
int i = 3

SyntaxError: invalid syntax (<ipython-input-15-9fcf0b6bc4c8>, line 1)

This also means a variable's data type can change

In [17]:
x = str(x)
print(x)
type(x)

1

str

In [18]:
x = [1,2,3]
type(x)

list

### 1.1 Numbers

This is an integer...

In [ ]:
1

In [ ]:
type(0)

so is this

In [ ]:
-3

This is a float

In [ ]:
2.0

In [ ]:
type(0.0)

You can do math with them

In [ ]:
3 + 2

In [ ]:
1.1 - 9.0

In [ ]:
1 * 5

In [ ]:
# float division
1 / 2

In [ ]:
# integer division
13 // 5

In [ ]:
# modulus (remainder)
13 % 5

In [ ]:
# exponent
4 ** 2

ints and floats are mostly interchangeable

In [ ]:
3 * 3.0

In [ ]:
9.8 // 2

but can also be cast (i.e. converted) to the other type

In [ ]:
float(3)

In [ ]:
int(2.9)

### 1.2 Strings

This is a string...

In [ ]:
s = "apple"
s

so is this

In [ ]:
'apple'

### 1.3 Boolean Values

In [19]:
True

True

In [ ]:
False

### 1.4 Data Structures

#### 1.4.1 Lists

This is a list

In [21]:
l = [42, 7, 13, 24601, 2001, 3.50]

In [22]:
len(l)

6

In [ ]:
r = [32, 'wse', True]

In [ ]:
len(r)

#### _a sidenote on indexing_

Python uses 0-indexing

In [23]:
l[0]

42

In [24]:
l[5]

3.5

Negative numbers index from the end

In [ ]:
l[-1]

You can index lists to get individual items...

In [ ]:
l[3]

and strings to get individual characters (substring of length 1)

In [25]:
'string'[3]

'i'

You can use indexing to get subarrays/substrings

syntax: [start:end:step]

the subarray will include the start index but not the end

In [26]:
# the second and third elements
print(l[1:3])
print([l[1],l[2]])

[7, 13]
[7, 13]

In [27]:
# the last 8 characters
'this is a sentence'[-8:]

'sentence'

In [28]:
# every other element
l[::2]

[42, 13, 2001]

#### back to lists

Elements can be added...

In [ ]:
l.append(7)
l

removed (the first occurence)...

In [ ]:
l.remove(7)
l

and modified

In [ ]:
l[0] = 100
l

You can make lists like this:

In [ ]:
list1 = list()
list1

In [ ]:
list2 = []
list2

In [ ]:
list3 = [10,30,20]
list3

In [ ]:
# l4 uses the range function which generates a sequence of numbers
list4 = list(range(3))
list4

In [ ]:
# l5 uses list comprehension -- it's like a one-line for loop
list5 = [i*2 for i in list4]
list5

##### 1.4.2 tuples

This is a python tuple

In [29]:
t = (1, 2, 3, 4)
t

(1, 2, 3, 4)

You can index them like lists

In [30]:
t[0]

1

but CAN'T modify them (they are immutable)

In [31]:
t[2] = 10

TypeError: 'tuple' object does not support item assignment

In [ ]:
t.append(10)

In most cases lists are more useful, but the immutable property of tuples means they can be used as dictionary keys, in sets, etc.

##### 1.4.3 dictionaries

Dictionaries store (key: value) pairs

In [ ]:
d = {"apple": "a fruit", "basil": "an herb", "monkey": "a mammal"}
d

In [ ]:
d.keys()

In [ ]:
d.values()

They are indexed by their keys and return the corresponding values

In [ ]:
d['basil']

##### 1.4.4 sets

Sets store unique elements

In [ ]:
s = set([1,2,3,1,2,3])
s

In [ ]:
s.add(3)
s

In [ ]:
s.add(12)
s

In [ ]:
s.update([3,4,5])
s

## 2. Statements and loops

### 2.1 If statements

Conditional statements to handle different cases

In [ ]:
if True:
    print('true')

In [ ]:
if 1 == 3:
    print('1')
elif 2 == 3:
    print('2')
elif 3 == 3:
    print('3')
else:
    print('4')

### 2.2 For loops

Iterate through a group of items

In [ ]:
for i in range(3):
    print(i)

In [ ]:
# enumerate generates a sequence of index, value pairs
for i,x in enumerate(['a','b','c']):
    print(i,':',x)

### 2.3 While loops

Whlie loops continually iterate until a condition is met

In [ ]:
i = 0
while i < 3:
    print(i)
    i+=1
print('after loop ends: i =',i)

## 3. Functions

### 3.1 Built-in functions

In [ ]:
abs(-3)

In [ ]:
all([True, True, False])

In [ ]:
dir()

In [ ]:
eval('1+3')

In [ ]:
isinstance('a',str)

In [ ]:
len([1,2,3])

In [ ]:
max([3,4,5])

In [ ]:
min([-3,3,9])

In [ ]:
pow(3,3)

In [ ]:
list(reversed([1,2,3]))

In [ ]:
round(3.8)

In [ ]:
round(3.3)

In [ ]:
list(sorted([4,2,6]))

In [ ]:
sum([1,3,5])

In [ ]:
type(3.3)

### 3.2 Custom functions

You can write your own functions to minimize duplicate or long sections of code

These can be used to just 'do' something, such as print

In [ ]:
def foo(arg1, arg2=2):
    if arg2//2 == 0:
        print(arg1)

Or you can use them to calculate and return a value

In [ ]:
def bar(arg1):
    if arg1 > 10:
        return arg1 - 10
    
    return arg1

In [ ]:
bar(12)

In [ ]:
bar(2)

# 4. Pickle

Pickle is a python library which we will be using a lot... all it does is compress and save Python objects to files

In [ ]:
import pickle

Dumping saves an object:

In [ ]:
# the first argument is the object you want to save
# the second is the file which you are saving it to

pickle.dump(b, open('b.pkl','wb'))

# the 'wb' stands for write-binary [ write enables saving to a file, binary is the way pickle uses to load the file ]

Loading lets you load and reassign the object:

In [ ]:
c = pickle.load(open('b.pkl','rb'))

# the 'rb' stands for read-binary

In [ ]:
c

In [ ]:
b

# 5. Numpy

Numpy is [numerical python], a library built for large arrays and matrices which is much faster than regular python. It is the first of the three big libraries used for data science!

In [ ]:
import numpy as np

## 5.1 Arrays

Numpy arrays can be created from a python list

In [ ]:
a = [1,2,3,4,5,6]
b = np.array(a)
b

Right now, it looks an awful like a python list, but there are some key points you should know.

Numpy arrays are:
- homogeneous (all elements in an array have the same type)
- multidimensional

In [ ]:
# Homogeneous: all numpy arrays have an associated data type
# numbers are usually ints or floats
b.dtype

In [ ]:
# Multidimensional: numpy arrays can have multiple dimensions, like a nested list
# We can reshape b into a 3x2 matrix
# Note: this doesn't change b. That's why we assign it to a new variable: m
m = b.reshape(3, 2)
m

In [ ]:
# Each dimension is called an axis
# The size across each axis is called the shape
# These are two very important concepts!
m.shape

## 5.2 Math

Numpy gives us a lot of math functions to work with. You can find them all in the <a href=https://numpy.org/doc/stable/reference/index.html>documentation</a>.

In [ ]:
np.sum(b)

In [ ]:
np.mean(b)

In [ ]:
# for convenience, you can also call
b.mean()

You can also apply these functions to only one axis

In [ ]:
# only sum across rows (read: apply the sum to axis 1)
np.sum(m, axis=1)

# 6. Pandas

Pandas is another python library which we will be using _a lot!_ It lets us look at data in tabular format and is well integrated with other libraries for plotting, machine learning, etc. (we'll see some of these next week).

In [32]:
import pandas as pd

## 6.1 Dataframes & Series

Pandas puts data into dataframes, which are made up of series. A dataframe is like a table:

In [33]:
df = pd.read_csv("../data/cereal.csv")
type(df)

# here, we're reading in data from a 'csv', or comma-separated value, file

pandas.core.frame.DataFrame

In [34]:
df

,name,mfr,type,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
0,100% Bran,N,C,70,4,1,130,10.0,5.0,6,280,25,3,1.0,0.33,68.402973
1,100% Natural Bran,Q,C,120,3,5,15,2.0,8.0,8,135,0,3,1.0,1.00,33.983679
2,All-Bran,K,C,70,4,1,260,9.0,7.0,5,320,25,3,1.0,0.33,59.425505
3,All-Bran with Extra Fiber,K,C,50,4,0,140,14.0,8.0,0,330,25,3,1.0,0.50,93.704912
4,Almond Delight,R,C,110,2,2,200,1.0,14.0,8,-1,25,3,1.0,0.75,34.384843
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
72,Triples,G,C,110,2,1,250,0.0,21.0,3,60,25,3,1.0,0.75,39.106174
73,Trix,G,C,110,1,1,140,0.0,13.0,12,25,25,2,1.0,1.00,27.753301
74,Wheat Chex,R,C,100,3,1,230,3.0,17.0,3,115,25,1,1.0,0.67,49.787445
75,Wheaties,G,C,100,3,1,200,3.0,17.0,3,110,25,1,1.0,1.00,51.592193
76,Wheaties Honey Gold,G,C,110,2,1,200,1.0,16.0,8,60,25,1,1.0,0.75,36.187559

We can use head(), tail(), or sample() to take a look at the data

In [35]:
# head returns the first 5 rows in the dataframe, tail returns the last 5
df.head()

,name,mfr,type,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
0,100% Bran,N,C,70,4,1,130,10.0,5.0,6,280,25,3,1.0,0.33,68.402973
1,100% Natural Bran,Q,C,120,3,5,15,2.0,8.0,8,135,0,3,1.0,1.00,33.983679
2,All-Bran,K,C,70,4,1,260,9.0,7.0,5,320,25,3,1.0,0.33,59.425505
3,All-Bran with Extra Fiber,K,C,50,4,0,140,14.0,8.0,0,330,25,3,1.0,0.50,93.704912
4,Almond Delight,R,C,110,2,2,200,1.0,14.0,8,-1,25,3,1.0,0.75,34.384843

In [43]:
df.sample(9)

,name,mfr,type,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
6,Apple Jacks,K,C,110,2,0,125,1.0,11.0,14,30,25,2,1.0,1.00,33.174094
54,Puffed Rice,Q,C,50,1,0,0,0.0,13.0,0,15,0,3,0.5,1.00,60.756112
0,100% Bran,N,C,70,4,1,130,10.0,5.0,6,280,25,3,1.0,0.33,68.402973
72,Triples,G,C,110,2,1,250,0.0,21.0,3,60,25,3,1.0,0.75,39.106174
39,Just Right Fruit & Nut,K,C,140,3,1,170,2.0,20.0,9,95,100,3,1.3,0.75,36.471512
40,Kix,G,C,110,2,1,260,0.0,21.0,3,40,25,2,1.0,1.50,39.241114
16,Corn Flakes,K,C,100,2,0,290,1.0,21.0,2,35,25,1,1.0,1.00,45.863324
33,Grape-Nuts,P,C,110,3,0,170,3.0,17.0,3,90,25,3,1.0,0.25,53.371007
74,Wheat Chex,R,C,100,3,1,230,3.0,17.0,3,115,25,1,1.0,0.67,49.787445

Each column is a pandas Series (pd.Series)

In [1]:
df[0]

NameError: name 'df' is not defined

In [38]:
type(df["name"])

pandas.core.series.Series

Series are similar to numpy arrays

In [39]:
df["carbo"].mean()

14.597402597402597

In [40]:
# we can turn pd.Series into a numpy array
df["carbo"].to_numpy()

array([ 5. ,  8. ,  7. ,  8. , 14. , 10.5, 11. , 18. , 15. , 13. , 12. ,
       17. , 13. , 13. , 12. , 22. , 21. , 13. , 12. , 10. , 21. , 21. ,
       11. , 18. , 11. , 14. , 14. , 12. , 14. , 13. , 11. , 15. , 15. ,
       17. , 13. , 12. , 11.5, 14. , 17. , 20. , 21. , 12. , 12. , 16. ,
       16. , 16. , 17. , 15. , 15. , 21. , 18. , 13.5, 11. , 20. , 13. ,
       10. , 14. , -1. , 14. , 10.5, 15. , 23. , 22. , 16. , 19. , 20. ,
        9. , 16. , 15. , 21. , 15. , 16. , 21. , 13. , 17. , 17. , 16. ])

The key difference is that Series are indexed

In [46]:
# See the 0, 1, ... 76 on the left? That is the index of each item.
# Right now they are just positions, but theoretically they can be any identifier for the row

df["carbo"].index

RangeIndex(start=0, stop=77, step=1)

## 6.2 Pandas Indexing

The index in a pandas series/dataframe can by any list of values (row number, ID, time, etc.)

In [45]:
# a range index is just a numeric index
df.index

RangeIndex(start=0, stop=77, step=1)

In [47]:
# see how the leftmost row is now replaced with the cereal names
df_ = df.set_index('name')
df_.head()

,mfr,type,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
name,,,,,,,,,,,,,,,
100% Bran,N,C,70,4,1,130,10.0,5.0,6,280,25,3,1.0,0.33,68.402973
100% Natural Bran,Q,C,120,3,5,15,2.0,8.0,8,135,0,3,1.0,1.00,33.983679
All-Bran,K,C,70,4,1,260,9.0,7.0,5,320,25,3,1.0,0.33,59.425505
All-Bran with Extra Fiber,K,C,50,4,0,140,14.0,8.0,0,330,25,3,1.0,0.50,93.704912
Almond Delight,R,C,110,2,2,200,1.0,14.0,8,-1,25,3,1.0,0.75,34.384843

In [48]:
df_.index

Index(['100% Bran', '100% Natural Bran', 'All-Bran',
       'All-Bran with Extra Fiber', 'Almond Delight',
       'Apple Cinnamon Cheerios', 'Apple Jacks', 'Basic 4', 'Bran Chex',
       'Bran Flakes', 'Cap'n'Crunch', 'Cheerios', 'Cinnamon Toast Crunch',
       'Clusters', 'Cocoa Puffs', 'Corn Chex', 'Corn Flakes', 'Corn Pops',
       'Count Chocula', 'Cracklin' Oat Bran', 'Cream of Wheat (Quick)',
       'Crispix', 'Crispy Wheat & Raisins', 'Double Chex', 'Froot Loops',
       'Frosted Flakes', 'Frosted Mini-Wheats',
       'Fruit & Fibre Dates; Walnuts; and Oats', 'Fruitful Bran',
       'Fruity Pebbles', 'Golden Crisp', 'Golden Grahams', 'Grape Nuts Flakes',
       'Grape-Nuts', 'Great Grains Pecan', 'Honey Graham Ohs',
       'Honey Nut Cheerios', 'Honey-comb', 'Just Right Crunchy  Nuggets',
       'Just Right Fruit & Nut', 'Kix', 'Life', 'Lucky Charms', 'Maypo',
       'Muesli Raisins; Dates; & Almonds', 'Muesli Raisins; Peaches; & Pecans',
       'Mueslix Crispy Blend', 'Multi-Grain Cheerios', 'Nut&Honey Crunch',
       'Nutri-Grain Almond-Raisin', 'Nutri-grain Wheat',
       'Oatmeal Raisin Crisp', 'Post Nat. Raisin Bran', 'Product 19',
       'Puffed Rice', 'Puffed Wheat', 'Quaker Oat Squares', 'Quaker Oatmeal',
       'Raisin Bran', 'Raisin Nut Bran', 'Raisin Squares', 'Rice Chex',
       'Rice Krispies', 'Shredded Wheat', 'Shredded Wheat 'n'Bran',
       'Shredded Wheat spoon size', 'Smacks', 'Special K',
       'Strawberry Fruit Wheats', 'Total Corn Flakes', 'Total Raisin Bran',
       'Total Whole Grain', 'Triples', 'Trix', 'Wheat Chex', 'Wheaties',
       'Wheaties Honey Gold'],
      dtype='object', name='name')

Indexing in pandas is a bit different than in built-in Python

`iloc` is used to index by row number in a dataframe

In [49]:
# this returns the first row of the dataframe
df_.iloc[0]

mfr                 N
type                C
calories           70
protein             4
fat                 1
sodium            130
fiber            10.0
carbo             5.0
sugars              6
potass            280
vitamins           25
shelf               3
weight            1.0
cups             0.33
rating      68.402973
Name: 100% Bran, dtype: object

`loc` is used to index by the series/dataframe index

In [50]:
df_.loc['All-Bran']

mfr                 K
type                C
calories           70
protein             4
fat                 1
sodium            260
fiber             9.0
carbo             7.0
sugars              5
potass            320
vitamins           25
shelf               3
weight            1.0
cups             0.33
rating      59.425505
Name: All-Bran, dtype: object

In [51]:
# multiple indices work
df.iloc[[1, 2, 3]]

,name,mfr,type,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
1,100% Natural Bran,Q,C,120,3,5,15,2.0,8.0,8,135,0,3,1.0,1.00,33.983679
2,All-Bran,K,C,70,4,1,260,9.0,7.0,5,320,25,3,1.0,0.33,59.425505
3,All-Bran with Extra Fiber,K,C,50,4,0,140,14.0,8.0,0,330,25,3,1.0,0.50,93.704912

We can also use boolean indexing to condionally select data

In [52]:
df[[True] + [False] * 76]

# [True] + [False] * 76 gives us a list that looks like [True, False, ..., False] with 1 True and 76 Falses
# This matches the number of rows in our data (77)
# pandas returns all the rows with a corresponding True (in this case, only the first one)

,name,mfr,type,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
0,100% Bran,N,C,70,4,1,130,10.0,5.0,6,280,25,3,1.0,0.33,68.402973

This is powerful because we can also make comparisons with Series and values

In [53]:
df["protein"] > 3

0      True
1     False
2      True
3      True
4     False
      ...
72    False
73    False
74    False
75    False
76    False
Name: protein, Length: 77, dtype: bool

Combining these two things, we have a very expressive way of filtering

In [54]:
# This gives us all the rows in which the protein is greater than 3.
df[df["protein"] > 3]

,name,mfr,type,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
0,100% Bran,N,C,70,4,1,130,10.0,5.0,6,280,25,3,1.0,0.33,68.402973
2,All-Bran,K,C,70,4,1,260,9.0,7.0,5,320,25,3,1.0,0.33,59.425505
3,All-Bran with Extra Fiber,K,C,50,4,0,140,14.0,8.0,0,330,25,3,1.0,0.50,93.704912
11,Cheerios,G,C,110,6,2,290,2.0,17.0,1,105,25,1,1.0,1.25,50.764999
41,Life,Q,C,100,4,2,150,2.0,12.0,6,95,25,2,1.0,0.67,45.328074
43,Maypo,A,H,100,4,1,0,0.0,16.0,3,95,25,2,1.0,1.00,54.850917
44,Muesli Raisins; Dates; & Almonds,R,C,150,4,3,95,3.0,16.0,11,170,25,3,1.0,1.00,37.136863
45,Muesli Raisins; Peaches; & Pecans,R,C,150,4,3,150,3.0,16.0,11,170,25,3,1.0,1.00,34.139765
56,Quaker Oat Squares,Q,C,100,4,1,135,2.0,14.0,6,110,25,3,1.0,0.50,49.511874
57,Quaker Oatmeal,Q,H,100,5,2,0,2.7,-1.0,-1,110,0,1,1.0,0.67,50.828392
67,Special K,K,C,110,6,0,230,1.0,16.0,3,55,25,1,1.0,1.00,53.131324

##  6.3 Manipulating Data

Often when we're preprocessing data, we want to make changes to a specific column. We can do this by applying functions.

In [55]:
# Suppose we want to make the cereals more appetizing.
# Let's add "Delicious " to the beginning of every name.

# The pattern is we define a function for a single entry
def make_delicious(name):
    return "Delicious " + name

# and then call apply on the series to apply the function to each element in the series
df["name"].apply(make_delicious)

0                     Delicious 100% Bran
1             Delicious 100% Natural Bran
2                      Delicious All-Bran
3     Delicious All-Bran with Extra Fiber
4                Delicious Almond Delight
                     ...
72                      Delicious Triples
73                         Delicious Trix
74                   Delicious Wheat Chex
75                     Delicious Wheaties
76          Delicious Wheaties Honey Gold
Name: name, Length: 77, dtype: object

In [56]:
# this returns the changes, but doesn't apply them in place.
# that means on our original dataframe, the cereals are still bland
df.head()

,name,mfr,type,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
0,100% Bran,N,C,70,4,1,130,10.0,5.0,6,280,25,3,1.0,0.33,68.402973
1,100% Natural Bran,Q,C,120,3,5,15,2.0,8.0,8,135,0,3,1.0,1.00,33.983679
2,All-Bran,K,C,70,4,1,260,9.0,7.0,5,320,25,3,1.0,0.33,59.425505
3,All-Bran with Extra Fiber,K,C,50,4,0,140,14.0,8.0,0,330,25,3,1.0,0.50,93.704912
4,Almond Delight,R,C,110,2,2,200,1.0,14.0,8,-1,25,3,1.0,0.75,34.384843

In [57]:
# we can fix this by assigning the new names to the column.
df["name"] = df["name"].apply(make_delicious)
df.head()

,name,mfr,type,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
0,Delicious 100% Bran,N,C,70,4,1,130,10.0,5.0,6,280,25,3,1.0,0.33,68.402973
1,Delicious 100% Natural Bran,Q,C,120,3,5,15,2.0,8.0,8,135,0,3,1.0,1.00,33.983679
2,Delicious All-Bran,K,C,70,4,1,260,9.0,7.0,5,320,25,3,1.0,0.33,59.425505
3,Delicious All-Bran with Extra Fiber,K,C,50,4,0,140,14.0,8.0,0,330,25,3,1.0,0.50,93.704912
4,Delicious Almond Delight,R,C,110,2,2,200,1.0,14.0,8,-1,25,3,1.0,0.75,34.384843